<p style="color: green"><%= notice %></p>

<h1>Contests</h1>


<% if is_board? %>
  <%= link_to "New contest", new_contest_path %>
<% end %>

<div id="contests">
  <% @contests.each do |contest| %>
    <%= render contest %>
    <p>
      <%= link_to "Show this contest", contest %>
    </p>
  <% end %>
</div>


