<div id="<%= dom_id practice %>">
  <p>
    <strong>Trainer:</strong>
    <%= practice.trainee.name %>
  </p>

  <p>
    <strong>Contest:</strong>
    <%= practice.contest.name %>
  </p>

  <p>
    <strong>Problems:</strong>
    <%= practice.problems %>
  </p>

</div>
