<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<% if is_board? %>
  <%= link_to "New post", new_post_path %>
<% end %>
<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
</div>
